@import "../../responsive.scss";

.add_order_container {
  width: 100%;
  min-height: 100%;
  position: sticky;
  top: 0;
  background-color: #f3f3f3;
  padding: 2rem;
  h2 {
    margin: 1rem 0;
  }
  .add_order_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    span {
      font-weight: bold;
      padding-right: 0.3rem;
      margin-right: 1rem;
      border-right: 2px solid black;
    }
  }
}
