@import "../../responsive.scss";

.list_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  padding-right: 1rem;
  @include md {
    padding: 0;
    margin: 0;
  }
}

.list_page {
  display: flex;
  height: 100%;
  @include md {
    display: block;
  }

  .list_container {
    flex: 3;
  }
  .map_container {
    flex: 2;
    background-color: #f3f3f3;

    @include md {
      height: 300px;
      width: 90%;
      margin: 1rem auto;
    }
  }

  .not_found {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
