@import "../../responsive.scss";
.contact_page_container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;

  .left {
    flex: 3;
    @include md {
      display: none;
    }
  }
  .right {
    background-color: #f1f1f1;
    flex: 2;
    z-index: -10;
    @include md {
      display: none;
    }
  }
  .contact_page_contect {
    width: 100%;
    height: 100%;
    position: absolute;
    img {
      margin: 4rem auto 0 auto;
      display: block;
    }

    .contact_page_contect_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 4rem;
      .contact_box {
        width: 20rem;
        border-bottom: 1px solid black;
        padding: 1rem 0 0.2rem 0;
        h2 {
          padding-bottom: 0.8rem;
        }
        p {
          padding-bottom: 0.5rem;
        }

        .contact_box_imgs {
          display: flex;
          gap: 1rem;
          transition: all 0.2s ease-in-out;
          padding-bottom: 0.5rem;

          .contact_mini_box_img {
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            border: 2px solid black;

            &:hover {
              background-color: black;
            }
          }
          img {
            width: 2rem;
            margin: 0;
            transition: all 0.2s ease-in-out;
            &:hover {
              filter: invert(100%);
            }
          }
        }
      }
    }
  }
}
