.list_page {
  height: 100%;
}

.list_wrapper {
  height: 100%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  overflow-y: scroll;
}

.list_page {
  display: flex;
  height: 100%;

  .list_container {
    flex: 3;

    .wrapper {
      padding-right: 4rem;
    }
  }
  .map_container {
    flex: 2;
    background-color: #f3f3f3;
  }
}
