@import "../../responsive.scss";
.proffesionalist_form_container {
  display: flex;
  width: 100%;
  position: relative;

  .form_container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      text-align: center;
      width: 25ch;
      @include md {
        font-size: 1.5rem;
      }
      @include sm {
        font-size: 1rem;
      }
    }
    form {
      position: relative;
      box-shadow: 0 0 5px #d1d1d1;
      margin: 4rem 0;
      padding: 1rem 3rem;
      display: flex;
      flex-direction: column;
      width: 40rem;
      gap: 1rem;
      @include md {
        width: 30rem;
      }
      @include sm {
        width: 20rem;
      }
      input {
        padding: 1rem;
      }
      textarea {
        max-width: 100%;
        padding: 0.5rem;
      }

      .submit_button {
        font-size: 1rem;
        border: 1px solid black;
        padding: 1rem;
        border-radius: 0.2rem;
        cursor: pointer;
        background-color: #f3f3f3;
        transition: background-color 0.15s ease-in-out;
        &:hover {
          background-color: var(--main-color);
        }
        @include md {
          background-color: #fff;
        }
      }
    }
    img {
      max-width: 100%;
      margin: 4rem 0;
    }
    &::after {
      position: absolute;
      width: 40%;
      height: 100%;
      content: "";
      background-color: #f3f3f3;
      top: 0;
      right: 0;
      z-index: -10;
    }
  }
}
