@import "../../responsive.scss";
.account_settings_container {
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  .left {
    margin: 4rem auto;
    flex: 3;
    display: flex;
    justify-content: center;
    max-width: 100%;

    .account_settings_main_content {
      width: 30rem;
      .account_entry_text {
        display: flex;
        max-width: 100%;
        align-items: center;
        gap: 1rem;
        h1 {
          max-width: 10ch;
        }
        img {
          max-width: 1.2rem;
          cursor: pointer;
          &:hover {
            filter: invert(1);
          }
        }
      }
      .main_box {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .box {
          padding: 0.5rem;
          border: 1px solid #d3d3d3;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .avatar {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
          }
          p {
            font-weight: 500;
            span {
              font-weight: 200;
              margin-right: 1rem;
            }
          }
          &.categories {
            display: flex;
          }
          input {
            max-width: 7rem;
          }
          textarea {
            resize: none;
            padding: 0.3rem;
            min-width: 100%;
            margin: 0.5rem 0;
            line-height: 1.5;
            overflow: scroll;
            min-height: 10rem;
          }
          &.textarea_div {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
          }
        }
      }
    }
  }
  .right {
    flex: 2;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      padding: 0 1rem;
    }

    @include md {
      display: none;
    }
  }
}
