@import "../responsive.scss";
nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  overflow: hidden;

  a {
    transition: all 0.2s ease;

    @include sm {
      display: none;
    }
    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 4rem;
    @include md {
      gap: 2rem;
      padding-right: 1rem;
    }

    .logo {
      max-width: 10rem;
      @include lg {
        max-width: 7rem;
      }
      @include md {
        max-width: 5rem;
        margin-right: 1rem;
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    background-color: #f3f3f3;
    height: 100%;
    align-items: center;

    @include md {
      flex: 2.5;
      background-color: transparent;
    }

    a {
      padding: 1rem 0.5rem;
      margin-right: 1rem;
      @include sm {
        display: none;
      }
    }

    .sign-up {
      background-color: var(--main-color);
    }
  }

  .menuIcon {
    display: none;
    z-index: 10;
    @include sm {
      display: initial;
    }
    img {
      max-width: 2rem;
      cursor: pointer;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    height: 100%;
    width: 50%;
    display: none;
    transition: all 1s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &.active {
      display: flex;
    }
    a {
      color: white;
      font-size: 1.2rem;
    }

    @include sm {
      a {
        display: initial;
      }
    }
  }
}
