.user_message_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: fit-content;

  .user_message {
    width: 80%;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0;
  }
}
